<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class="img_empresas rounded float-start" src="/assets/img/empresa_logo.jfif" alt="Logo">
           <!-- <img class="img_empresas rounded float-start" src="/app/img/empresa_logo.jfif" alt="Logo">-->
        </div>
        <div class="col">
           <!-- <img class=" img_empresas rounded float-end" src="/app/img/demosoft.jfif" alt="Logo">-->
            <img class=" img_empresas rounded float-end" src="/assets/img/demosoft.jfif" alt="Logo">
        </div>
    </div>
</div>
<br><br>
