/*Login*/

.logEmpresa {
    width: 70%;
    height: 70%;
    display: block;
    margin: auto;
}

.logDemo {
    width: 35%;
    height: 35%;
    display: block;
    margin: auto;
}

.input__login {
    margin-top: 10px;
    margin-bottom: 10px;
}

.button__login{
    border-radius: 25px !important;
    width: 100% !important;
    margin-top: 10px;
    margin-bottom: 20px;
}

.link__login{
    color: #82B1FF;
    float: right;
    background-color: transparent;
    border: none;
}

.check__login{
    float: right;
}


.img_empresas{
    height: 100px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
}



@media screen and (max-width: 600px) {
    .img_empresas {
        height: 65px;
    margin: 10px;
    }
}

@media screen and (max-width: 280px) {
    .img_empresas {
        height: 45px;
    margin: 5px;
    }
}