<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class="img_empresas rounded float-start" src="/assets/img/empresa_logo.jfif" alt="Logo">
           <!-- <img class="img_empresas rounded float-start" src="/app/img/empresa_logo.jfif" alt="Logo">-->
        </div>
        <div class="col">
           <!-- <img class=" img_empresas rounded float-end" src="/app/img/demosoft.jfif" alt="Logo">-->
            <img class=" img_empresas rounded float-end" src="/assets/img/demosoft.jfif" alt="Logo">
        </div>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-md-5 mx-auto">
            <div class="card text-center">
                <div class="card-body">
                    <form>
                        <input type="text" class="form-control input__login" id="exampleInputEmail1"
                            aria-describedby="emailHelp" placeholder="Clave para activar el producto">
                       
                        <button  type="submit"
                            class="btn btn-outline-dark btn-sm button__login">Activar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>