.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  

  .icon_input{
    //color: #3f51b5;
    font-size: 18px;
    color: rgba(71, 65, 65, 0.863);
    margin-left: 10px;
  }