<div class="container">
    <div class="center">
      
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12">
                <div class="form-floating ">
                    <textarea class="form-control" placeholder="Leave a comment here" id="texto" readonly
                        style="height: 350px">{{service.text}}</textarea>
                    <label for="floatingTextarea2" style="padding-top: 60px;">{{service.lastText}}</label>
                </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12 col-xs-12 padding_20">
                <button class="button_speech" mat-stroked-button color="primary"
                    (click)="startService()">{{text_button}}
                </button>
                <button class="button_speech" mat-stroked-button color="primary" (click)="restartService()">Nueva
                    Grabación</button>
                <button class="button_speech" mat-stroked-button color="primary"
                    (click)="deleteText()">Eliminar</button>
                <button class="button_speech button__end" mat-stroked-button color="primary"
                    (click)="copyMessage()">Copiar</button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div *ngIf="service_on" class="listen_el">
                    <p class="listen_element">Escuchando...</p>
                    <div class="spinner-grow text-success color_point listen_element" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>