.padding_20 {
    padding-top: 20px;
}

.button_speech {
    margin: 5px;
}

.button__end {
    float: right;
}

.color_point {
    //background-color: #1FCD04;
    background-color: red;
    height          : 15px;
    width           : 15px;
    margin          : 5px;
    padding         : 5px;
}

.listen_element {
    float: left;
}

.listen_el {
    padding-left: 5px;
}

.copiado {
    color: #3fb950;
}

.copiado mat-icon {
    font-size: 20px;
}

.f_rigth {
    float: right;
}

.pad_top {
    padding-top: 20px;
}