/*
Cambiar ruta e accesos apara apuntar al servidor e alojamiento antes de assets
Ejemplo:
remplazar /assets/icons/play-circle-regular.svg 
por /dist/voice-reco/assets/icons/play-circle-regular.svg
siendo /dist/voice-reco la carpeta donde está aojada la app
*/


.padding_20{
    padding: 20px;
}


.form-floating{
    padding-top: 40px;
}

.button_speech{
    margin: 5px;
}

.button__end{
    float: right;
}